<div class="">
    <a href="" ng-click="toggleFolders()" class="fs-12 pointer dark">
        <span ng-show="show_folders"><i class="flaticon-cross-1"></i> {{ _lang.hide_folders }}</span>
        <span ng-show="!show_folders"><i class="flaticon-arrows-4 mb-20"></i> {{ _lang.show_folders }}</span>
    </a>
</div>
<ul class="list-unstyled folders mt-10 hide-fade" ng-show="show_folders">
    <li ng-repeat="fold in folders">
        <a ui-sref="tasks.folder({code:'{{ fold.code }}'})" ng-hide="fold.edit">
            <span style="background:{{ fold.colour }};"></span> {{ fold.name }}
        </a>
        <a href="" class="hover" ng-click="editFolder(fold)" ng-show="!fold.edit">
            <i class="flaticon-draw"></i>
        </a>

        <form ng-submit="updateFolder(fold)" class="mt-10 mb-20" ng-show="fold.edit">
            <input type="text" name="foldername" ng-model="fold.name" class="form-control" placeholder="Folder name">
            <div class="mt-10">
                <a href="" ng-repeat="choice in choices" class="item item-circle text-white" style="background:{{ choice }};padding-top:5px;" ng-click="setFoldColour(fold, choice)">
                    <i class="flaticon-check" ng-show="choice == fold.colour" style="color:#fff"></i>
                    <i class="" ng-hide="choice == fold.colour" style="color:{{ choice }}">.</i>
                </a>
            </div>
            <div class="">
                <a href="" class="btn btn-white" ng-click="close(fold)">
                    {{ _lang.close }}
                </a>
                <button type="submit"  class="btn btn-blue">
                    {{ _lang.update }}
                </button>
            </div>
        </form>
    </li>
</ul>

<div class="mt-10" ng-show="show_folders">
    <a href="" ng-click="toggleFolder()" class="fs-12 pointer">
        <span ng-show="!form_folder"><i class="flaticon-cross"></i> {{ _lang.add_folder }}</span>
        <span ng-show="form_folder"><i class="flaticon-arrows-5"></i> {{ _lang.hide }}</span>
    </a>

    <form ng-submit="addFolder()" class="mt-10" ng-show="form_folder">
        <input type="text" name="foldername" ng-model="folder.name" class="form-control" placeholder="Folder name" required>
        <div class="mt-10">
            <a href="" ng-repeat="choice in choices" class="item item-circle text-white" style="background:{{ choice }}" ng-click="setFolderColour(choice)">
                <i class="flaticon-check" ng-show="choice == folder.colour"></i>
                <i class="" ng-hide="choice == folder.colour" style="color:{{ choice }}">.</i>
            </a>
        </div>
        <div class="mt-10 text-right">
            <button type="submit"  class="btn btn-blue">
                <i class="flaticon-technology-1"></i> {{ _lang.save }}
            </button>
        </div>
    </form>
</div>
<div class="mb-20"></div>
