<div class="" ng-controller="FolderController">
    <div class="mb-10">
        <div class="h4">
            <i class="flaticon-folder-2" ng-show="current.shared != true"></i>
            <i class="si si-users" ng-show="current.shared == true"></i>
            {{ current.name }}
        </div>
        <div class="mt-10">
            <a href="" ng-click="toggleShare()" class="fs-13">
                <i class="flaticon-redo"></i> {{ _lang.share_folder }}
            </a>
        </div>
    </div>

    <div class="mb-20 hide-fade" ng-show="show_share">
        <form ng-submit="shareFolder()">
            <!-- <tags-input ng-model="current.users" name="users"></tags-input> -->
            <div class="input-group">
                <input class="form-control" type="email" placeholder="{{ _lang.enter_email }}..." required ng-model="share.email" name="email">
                <div class="input-group-btn">
                    <button class="btn btn-primary-dark">
                        <i class="si si-users hidden-xs"></i>
                        {{ _lang.share }}
                    </button>
                </div>
            </div>
        </form>

        <div class="mt-10 ml-10" ng-show="users.length > 0">
            <ul class="list-inline users">
                <li ng-repeat="user in users"  class="user repeat-animation">
                    <i class="si si-user mr-5"></i> {{ user.email }}
                    <a href="" ng-click="deleteUser(user)">
                        <i class="flaticon-cross-1"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>



    <!--Start of tabs-->
    <uib-tabset class="block">
        <uib-tab heading="{{ _lang.todo }} ({{ todos }} )">
            <div class="block">
                <div class="block-content no-padding">
                    <table class="js-table-checkable table table-hover table-vcenter table-tasks">
                        <tbody ui-sortable="sortableOptions" ng-model="tasks">
                            <tr ng-repeat="task in tasks" ng-show="task.complete == 0">
                                <td class="ellipsis" ng-click="editTask(task)">
                                    <i class="fa fa-sort"></i>
                                    <label class="css-input css-radio css-radio-primary">
                                        <input type="radio" ng-model="task.complete" ng-change="checkThis(task)"><span></span>
                                    </label>
                                    <span class="circle-label" style="background:{{ task.label }}"></span> {{ task.title }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
        <!--/End of tab-->



        <uib-tab heading="{{ _lang.complete }} ({{ done }})" class="fs18">
            <div class="block">
                <div class="block-content no-padding">
                    <table class="js-table-checkable table table-hover table-vcenter table-tasks">
                        <tbody>
                            <tr ng-repeat="task in tasks" ng-show="task.complete == 1">
                                <td class="ellipsis">
                                    <label class="css-input css-radio css-radio-primary">
                                        <input type="radio" ng-model="task.complete" ng-change="uncheckThis(task)" ng-checked="task.complete == 1"><span></span>
                                    </label>
                                    <span class="linethrough">{{ task.title }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    <!-- END Block Tabs Default Style -->

    <form class="" ng-submit="store()">
        <div class="">
            <input type="text" name="title" required class="form-control input-lg" placeholder="{{ _lang.task_placeholder }} {{ _lang.form_type_here }}" ng-model="todo.title">
        </div>

        <div class="text-right mt-10 mb-20">
            <button type="submit"  class="btn btn-blue btn-lg">
                <i class="flaticon-technology-1"></i> {{ _lang.btn_save }}
            </button>
        </div>
    </form>
</div>
