<div class="mb-40" ng-controller="TasksController">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="hidden-xs mb-20">
                <a href="#/">{{ _lang[0].home }}</a>
                <i class="flaticon-arrows-1"></i>
                <a href="#/tasks">{{ _lang.tasks }}</a>
            </div>

            <folder-list></folder-list>
        </div>

        <div class="col-sm-8 col-md-9 view-slide-in" ui-view></div>

    </div>

    <div class="text-center mt-40" ng-show="loading">
        <img src="/assets/img/preload.gif" alt="" />
    </div>
</div>
