<div class="" >
    <!-- Block Tabs Default Style -->

    <uib-tabset class="block">
        <uib-tab heading="{{ _lang.todo }} ({{ todos }} )">
            <div class="block">
                <div class="block-content no-padding">
                    <table class="js-table-checkable table table-hover table-vcenter table-tasks">
                        <tbody>
                            <tr ng-repeat="task in tasks" ng-show="task.complete == 0">
                                <td class="ellipsis" ng-click="editTask(task)">
                                    <label class="css-input css-radio css-radio-primary">
                                        <input type="radio" ng-model="task.complete" ng-change="checkThis(task)"><span></span>
                                    </label>
                                    <span class="circle-label" style="background:{{ task.label }}"></span> {{ task.title }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
        <!--/End of tab-->
    </uib-tabset>
    <!-- END Block Tabs Default Style -->

    <form class="" ng-submit="store()">
        <div class="">
            <input type="text" name="title" required class="form-control input-lg" placeholder="{{ _lang.task_placeholder }} {{ _lang.form_type_here }}" ng-model="todo.title">
        </div>
        <div class="mt-10">
            <div class="row">
                <div class="col-sm-12">
                    <a ng-repeat="folder in folders" class="btn btn-lg mr-10 mb-10 pointer" style="background:{{ folder.colour }};color:#fff" ng-click="setLabel(folder)">
                        {{ folder.name }}
                        <i class='flaticon-check' ng-show="folder.id == todo.folder"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="text-right mb-20">
            <button type="submit"  class="btn btn-blue btn-lg">
                <i class="flaticon-technology-1"></i> {{ _lang.btn_save }}
            </button>
        </div>
    </form>

</div>
