    /*
    Flaticon icon font: Flaticon
    Creation date: 15/04/2016 14:39
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-app:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-2:before { content: "\f104"; }
.flaticon-arrows-3:before { content: "\f105"; }
.flaticon-arrows-4:before { content: "\f106"; }
.flaticon-arrows-5:before { content: "\f107"; }
.flaticon-arrows-6:before { content: "\f108"; }
.flaticon-building:before { content: "\f109"; }
.flaticon-business:before { content: "\f10a"; }
.flaticon-button:before { content: "\f10b"; }
.flaticon-cellphone:before { content: "\f10c"; }
.flaticon-check:before { content: "\f10d"; }
.flaticon-circle:before { content: "\f10e"; }
.flaticon-clock:before { content: "\f10f"; }
.flaticon-clock-1:before { content: "\f110"; }
.flaticon-clock-2:before { content: "\f111"; }
.flaticon-computer:before { content: "\f112"; }
.flaticon-computer-1:before { content: "\f113"; }
.flaticon-cross:before { content: "\f114"; }
.flaticon-cross-1:before { content: "\f115"; }
.flaticon-days:before { content: "\f116"; }
.flaticon-diskette:before { content: "\f117"; }
.flaticon-downloading:before { content: "\f118"; }
.flaticon-draw:before { content: "\f119"; }
.flaticon-folder:before { content: "\f11a"; }
.flaticon-folder-1:before { content: "\f11b"; }
.flaticon-folder-2:before { content: "\f11c"; }
.flaticon-folder-3:before { content: "\f11d"; }
.flaticon-garbage21:before { content: "\f11e"; }
.flaticon-healthy:before { content: "\f11f"; }
.flaticon-home:before { content: "\f120"; }
.flaticon-interface:before { content: "\f121"; }
.flaticon-interface-1:before { content: "\f122"; }
.flaticon-line:before { content: "\f123"; }
.flaticon-logo:before { content: "\f124"; }
.flaticon-magnifying-glass:before { content: "\f125"; }
.flaticon-monitor:before { content: "\f126"; }
.flaticon-note:before { content: "\f127"; }
.flaticon-paper11:before { content: "\f128"; }
.flaticon-people:before { content: "\f129"; }
.flaticon-power:before { content: "\f12a"; }
.flaticon-redo:before { content: "\f12b"; }
.flaticon-shapes:before { content: "\f12c"; }
.flaticon-shapes-1:before { content: "\f12d"; }
.flaticon-social:before { content: "\f12e"; }
.flaticon-social-1:before { content: "\f12f"; }
.flaticon-social-2:before { content: "\f130"; }
.flaticon-social-media:before { content: "\f131"; }
.flaticon-social-media-1:before { content: "\f132"; }
.flaticon-social-media-2:before { content: "\f133"; }
.flaticon-square:before { content: "\f134"; }
.flaticon-squares:before { content: "\f135"; }
.flaticon-supermarket68:before { content: "\f136"; }
.flaticon-symbol:before { content: "\f137"; }
.flaticon-system:before { content: "\f138"; }
.flaticon-technology:before { content: "\f139"; }
.flaticon-technology-1:before { content: "\f13a"; }
.flaticon-telephone:before { content: "\f13b"; }
.flaticon-time:before { content: "\f13c"; }
.flaticon-time-1:before { content: "\f13d"; }
.flaticon-tool:before { content: "\f13e"; }
.flaticon-tool-1:before { content: "\f13f"; }
.flaticon-tool-2:before { content: "\f140"; }
.flaticon-web:before { content: "\f141"; }
.flaticon-web-1:before { content: "\f142"; }
    
    $font-Flaticon-app: "\f100";
    $font-Flaticon-arrow: "\f101";
    $font-Flaticon-arrows: "\f102";
    $font-Flaticon-arrows-1: "\f103";
    $font-Flaticon-arrows-2: "\f104";
    $font-Flaticon-arrows-3: "\f105";
    $font-Flaticon-arrows-4: "\f106";
    $font-Flaticon-arrows-5: "\f107";
    $font-Flaticon-arrows-6: "\f108";
    $font-Flaticon-building: "\f109";
    $font-Flaticon-business: "\f10a";
    $font-Flaticon-button: "\f10b";
    $font-Flaticon-cellphone: "\f10c";
    $font-Flaticon-check: "\f10d";
    $font-Flaticon-circle: "\f10e";
    $font-Flaticon-clock: "\f10f";
    $font-Flaticon-clock-1: "\f110";
    $font-Flaticon-clock-2: "\f111";
    $font-Flaticon-computer: "\f112";
    $font-Flaticon-computer-1: "\f113";
    $font-Flaticon-cross: "\f114";
    $font-Flaticon-cross-1: "\f115";
    $font-Flaticon-days: "\f116";
    $font-Flaticon-diskette: "\f117";
    $font-Flaticon-downloading: "\f118";
    $font-Flaticon-draw: "\f119";
    $font-Flaticon-folder: "\f11a";
    $font-Flaticon-folder-1: "\f11b";
    $font-Flaticon-folder-2: "\f11c";
    $font-Flaticon-folder-3: "\f11d";
    $font-Flaticon-garbage21: "\f11e";
    $font-Flaticon-healthy: "\f11f";
    $font-Flaticon-home: "\f120";
    $font-Flaticon-interface: "\f121";
    $font-Flaticon-interface-1: "\f122";
    $font-Flaticon-line: "\f123";
    $font-Flaticon-logo: "\f124";
    $font-Flaticon-magnifying-glass: "\f125";
    $font-Flaticon-monitor: "\f126";
    $font-Flaticon-note: "\f127";
    $font-Flaticon-paper11: "\f128";
    $font-Flaticon-people: "\f129";
    $font-Flaticon-power: "\f12a";
    $font-Flaticon-redo: "\f12b";
    $font-Flaticon-shapes: "\f12c";
    $font-Flaticon-shapes-1: "\f12d";
    $font-Flaticon-social: "\f12e";
    $font-Flaticon-social-1: "\f12f";
    $font-Flaticon-social-2: "\f130";
    $font-Flaticon-social-media: "\f131";
    $font-Flaticon-social-media-1: "\f132";
    $font-Flaticon-social-media-2: "\f133";
    $font-Flaticon-square: "\f134";
    $font-Flaticon-squares: "\f135";
    $font-Flaticon-supermarket68: "\f136";
    $font-Flaticon-symbol: "\f137";
    $font-Flaticon-system: "\f138";
    $font-Flaticon-technology: "\f139";
    $font-Flaticon-technology-1: "\f13a";
    $font-Flaticon-telephone: "\f13b";
    $font-Flaticon-time: "\f13c";
    $font-Flaticon-time-1: "\f13d";
    $font-Flaticon-tool: "\f13e";
    $font-Flaticon-tool-1: "\f13f";
    $font-Flaticon-tool-2: "\f140";
    $font-Flaticon-web: "\f141";
    $font-Flaticon-web-1: "\f142";