/*
Flaticon icon font: Flaticon
Creation date: 16/04/2016 13:54
*/



.flaticon-app:before { content: "\f100"; }
.flaticon-arrow:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-2:before { content: "\f104"; }
.flaticon-arrows-3:before { content: "\f105"; }
.flaticon-arrows-4:before { content: "\f106"; }
.flaticon-arrows-5:before { content: "\f107"; }
.flaticon-arrows-6:before { content: "\f108"; }
.flaticon-bars:before { content: "\f109"; }
.flaticon-bars-1:before { content: "\f10a"; }
.flaticon-building:before { content: "\f10b"; }
.flaticon-business:before { content: "\f10c"; }
.flaticon-business-1:before { content: "\f10d"; }
.flaticon-business-2:before { content: "\f10e"; }
.flaticon-button:before { content: "\f10f"; }
.flaticon-cellphone:before { content: "\f110"; }
.flaticon-check:before { content: "\f111"; }
.flaticon-circle:before { content: "\f112"; }
.flaticon-clock:before { content: "\f113"; }
.flaticon-clock-1:before { content: "\f114"; }
.flaticon-clock-2:before { content: "\f115"; }
.flaticon-computer:before { content: "\f116"; }
.flaticon-computer-1:before { content: "\f117"; }
.flaticon-cross:before { content: "\f118"; }
.flaticon-cross-1:before { content: "\f119"; }
.flaticon-days:before { content: "\f11a"; }
.flaticon-diskette:before { content: "\f11b"; }
.flaticon-downloading:before { content: "\f11c"; }
.flaticon-draw:before { content: "\f11d"; }
.flaticon-folder:before { content: "\f11e"; }
.flaticon-folder-1:before { content: "\f11f"; }
.flaticon-folder-2:before { content: "\f120"; }
.flaticon-folder-3:before { content: "\f121"; }
.flaticon-garbage21:before { content: "\f122"; }
.flaticon-healthy:before { content: "\f123"; }
.flaticon-home:before { content: "\f124"; }
.flaticon-interface:before { content: "\f125"; }
.flaticon-interface-1:before { content: "\f126"; }
.flaticon-interface-2:before { content: "\f127"; }
.flaticon-line:before { content: "\f128"; }
.flaticon-lock:before { content: "\f129"; }
.flaticon-lock-1:before { content: "\f12a"; }
.flaticon-lock-2:before { content: "\f12b"; }
.flaticon-logo:before { content: "\f12c"; }
.flaticon-magnifying-glass:before { content: "\f12d"; }
.flaticon-monitor:before { content: "\f12e"; }
.flaticon-music:before { content: "\f12f"; }
.flaticon-music-1:before { content: "\f130"; }
.flaticon-music-2:before { content: "\f131"; }
.flaticon-note:before { content: "\f132"; }
.flaticon-paper11:before { content: "\f133"; }
.flaticon-people:before { content: "\f134"; }
.flaticon-power:before { content: "\f135"; }
.flaticon-redo:before { content: "\f136"; }
.flaticon-shapes:before { content: "\f137"; }
.flaticon-shapes-1:before { content: "\f138"; }
.flaticon-social:before { content: "\f139"; }
.flaticon-social-1:before { content: "\f13a"; }
.flaticon-social-2:before { content: "\f13b"; }
.flaticon-social-3:before { content: "\f13c"; }
.flaticon-social-4:before { content: "\f13d"; }
.flaticon-social-5:before { content: "\f13e"; }
.flaticon-square:before { content: "\f13f"; }
.flaticon-square-1:before { content: "\f140"; }
.flaticon-squares:before { content: "\f141"; }
.flaticon-supermarket68:before { content: "\f142"; }
.flaticon-symbol:before { content: "\f143"; }
.flaticon-system:before { content: "\f144"; }
.flaticon-technology:before { content: "\f145"; }
.flaticon-technology-1:before { content: "\f146"; }
.flaticon-telephone:before { content: "\f147"; }
.flaticon-three:before { content: "\f148"; }
.flaticon-time:before { content: "\f149"; }
.flaticon-time-1:before { content: "\f14a"; }
.flaticon-tool:before { content: "\f14b"; }
.flaticon-tool-1:before { content: "\f14c"; }
.flaticon-tool-2:before { content: "\f14d"; }
.flaticon-web:before { content: "\f14e"; }
.flaticon-web-1:before { content: "\f14f"; }
