a:hover{color: #683ba4;}

#page-container{background: #fff;}
#main-container{
    background: #f5f6f8;
}

#header-navbar{
    background: #fff;height: 60px;border-bottom: 1px solid #d6d6d6;
}

#header-navbar > .container > .nav-header > li > a{
    color: #fff;
    font-weight: 300;
}
/*#header-navbar > .nav-header > li > a{
    color: #fff;
    font-weight: 300;
}*/
#header-navbar > .nav-header > .active{
    color: #fff;margin-left: 0px;border-left:1px solid #fff;
    height: 100%;
}
#header-navbar > .nav-header > .active > a{color: #fff;}
#sidebar{background: #354052;}
#sidebar .side-header{background: #0381bd;}

.dotted{border-bottom: 1px dashed #999;display: inline;}
.no-resize{resize: none;}



/**
 * Full calendar
 * @type {[type]}
 */
#calendar{background: #fff !important;}
#calendar .fc-toolbar{padding: 10px;margin-bottom: 0px !important;}
#calendar .fc-today{background: #354052;color:#fff;}

.circle-label,
.folders > li > a > span{
    width:12px;
    height:12px;
    background-color: #333;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}
.item-circle{width:30px;height: 30px;margin-right:5px;margin-bottom:5px;line-height: 15px;}
.item-circle i{font-size:12px;}

.active-blue{background: #0381bd;}
.active-dark{background: #293241;}

.table-tasks > tbody > tr > td{
    padding:4px 10px;
    font-weight: 400;
    font-size:14px;
}

.nav-main li > a{line-height: 23px;}
.nav-main a > i, .nav-main a{font-size:14px;}
.nav-main a, .nav-main a > i {color: #d1d1d1;font-weight: 500;}

.block > .nav-tabs {background: #a48ad4;}
.block > .nav-tabs > li > a{color: #fff;}

.block{border-radius: 2px;}
.bg-image2 #main-container{
    background: url('../img/bg2.jpg')no-repeat center;
    background-size:cover;
    -webkit-background-size:cover;
}
.bg-image3 #main-container{
    background: url('../img/bg3.jpg')no-repeat center;
    background-size:cover;
    -webkit-background-size:cover;
}
.pointer{ cursor: pointer;}
.linethrough{text-decoration: line-through !important};

.w-200{width:200px;}
.w-250{width:250px;}
.w-300{width:300px;}

.fw-300{font-weight: 300;}

.fs-12{font-size: 12px;}
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}
.fs-24{font-size: 24px;}
.fs-30{font-size: 30px;}
.fs-40{font-size: 40px;}
.fs-60{font-size: 60px;}
.fs-80{font-size: 80px;}

.bg-darker{background: #354052}
.bg-blue{background: #0381bd;}
.bg-purple-dark{background: #461c7d;}
.bg-purple-light{background: #7232c7;}
.text-purple{color: #683ba4;}
.bg-purple{background: #683ba4}
.bg-light{background: #f9f9f9;}
.bg-light:hover,
.bg-light:focus{background: #fff;}

.btn-lg{font-weight: 500;font-size:14px;}
.btn-purple{background: #683ba4;color: #fff;}
.btn-dark{background: #333;color: #fff;}
.btn-blue{background: #0381bd;color: #fff;border-radius: 3px;}
.btn-white{background: #fff;color: #777;border:1px solid #ddd;}
.btn-red{background: #e91a61;color: #fff;border-radius: 3px;}

.btn-purple:hover, .btn-purple:focus,
.btn-dark:hover, .btn-dark:focus,
.btn-red:hover, .btn-red:focus,
.btn-blue:hover, .btn-blue:focus{color: #ddd;}

.switch-purple input:checked + span {
    background-color: #683ba4;
}

.no-border-radius{border-radius: 0px;}
.no-padding{padding:0px;}
.no-padding-top{padding-top:0px;}
.pd-10{padding: 10px;}
.pd-20{padding: 20px;}

.pl-10{padding-left:10px;}
.pl-20{padding-left:20px;}

.no-margin{margin:0px;}
.mb-5{margin-bottom: 5px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}
.mb-60{margin-bottom: 60px;}
.mb-80{margin-bottom: 80px;}
.mb-100{margin-bottom: 100px;}

.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
.mt-60{margin-top: 60px;}
.mt-80{margin-top: 80px;}
.mt-100{margin-top: 100px;}

.ml-10{margin-left:10px;}
.ml-20{margin-left:20px;}
.ml-30{margin-left:30px;}

.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-20{margin-right:20px;}
.mr-30{margin-right:30px;}

.border-bottom{border-bottom:1px solid}
.border-dark{border-color: #ccc;}
.border-grey{border-color: #f4f4f4;}
.border-white{border-color: #fff;}

.bold{font-weight: bold;}

.folders > li a{color: #777;font-weight: 500; font-size:13px;}
.folders > li a:hover, .folders > li a:focus{color: #0381bd;}
.folders > li{border-bottom: 1px solid #f1f1f1;width:100%;line-height: 30px; }
.folders > li:last-child{border-bottom: none;}
.folders > li > .hover{display: none}
.folders > li:hover .hover{display:inline;}
.folders > li:focus .hover{display:inline;}

.ellipsis{width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.badge-purple{background: #683ba4;color: #fff;}
.badge-dark{background: #333;color: #fff;}

.table {table-layout:fixed;}
.table td {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.uppercase{text-transform: uppercase}
.capitalize{text-transform: capitalize}

.dropdown-menu{border-radius: 0px;}


/**
 * Shared with
 */
.users > li {
    padding:5px;background: #e3e3e3;color: #555;font-size:12px;border-radius: 2px;margin-right:5px;
}
.users > li a{color:#333;}
.users > li i{font-size:11px;font-weight: bold}

/**
 * Loading screen
 */
 .loader {
   position: fixed;
   z-index: 100000;
   width: 100%;
   height: 100%;
   background-color: #f5f6f8;
 }

.fading-line {
  vertical-align: middle;
  margin: 25% auto;
  width: 150px;
  height: 155px;
  background-image: url(/assets/img/preload.gif);
  background-repeat: no-repeat;
  background-position: center center;
}


/*CUSTOM SELECT INPUT*/
.styled-select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: url('../img/arrow.png') no-repeat right #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.styled-select select {
    background: transparent;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    line-height: 18px;
    border: 0;
    height: 100%;
    -webkit-appearance: none;
}



/**
 * Floating Action Button
 */
.fab {
  background: #0381bd;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  text-align: center;
  color: #FFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.25);
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 2.7em;
  display: inline-block;
  cursor: pointer;
}
.fab span {
  vertical-align: middle;
}
.fab.child {
  right: 58.66666667px;
  width: 42.66666667px;
  height: 42.66666667px;
  display: none;
  opacity: 0;
  font-size: 2em;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ECECEC;
  opacity: 0.9;
  display: none;
}


/**
 * Angular animations
 * ng-enter
 */
 .view-slide-in.ng-enter {
   transition: all 1s ease;
   -webkit-transition:all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;

   opacity:0.5;
   position:relative;
   opacity:0;
   top:10px;
   left:20px;
 }
 .view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  top:5px;
  left:5px;
  opacity:1;
}
.view-slide-in.ng-leave{
  top:0;
  left:0;
  opacity:0;
}


/**
 * ng-repeat
 */
 .repeat-animation.ng-enter,
 .repeat-animation.ng-leave,
 .repeat-animation.ng-move {
   -webkit-transition: all linear .5s;
   -moz-transition: all linear .5s;
   -o-transition: all linear .5s;
   transition: all linear .5s;

   position:relative;
   left:5px;
 }
 .repeat-animation.ng-enter {
   opacity: 0;
 }
 .repeat-animation.ng-enter.ng-enter-active {
   opacity: 1;
 }
 .repeat-animation.ng-leave {
   opacity: 1;
 }
 .repeat-animation.ng-leave.ng-leave-active {
   opacity: 0;
 }
 .repeat-animation.ng-move {
   left:2px;
   opacity: 0.5;
 }
 .repeat-animation.ng-move.ng-move-active {
   left:0;
   opacity: 1;
 }

 /**
  * ng-hide
  */
  .hide-fade.ng-hide-add, .hide-fade.ng-hide-remove {
   -webkit-transition:all linear .5s;
   -moz-transition:all linear .5s;
   -o-transition:all linear .5s;
   transition:all linear .5s;
   display:block!important;
 }
 .hide-fade.ng-hide-add.ng-hide-add-active,
 .hide-fade.ng-hide-remove {
   opacity:0;
 }
 .hide-fade.ng-hide-add,
 .hide-fade.ng-hide-remove.ng-hide-remove-active {
   opacity:1;
 }
