<div class="" ng-controller="FoldersController">
    <div class="mb-10">
        <a href="#/">{{ _lang[0].home }}</a>
        <i class="flaticon-arrows-1"></i>
        {{ _lang.folders }}

        <div class="h4 mt-10">
            <i class="flaticon-folder-2"></i>
            {{ _lang.folders }}
        </div>
    </div>


    <!--Start of tabs-->
    <uib-tabset class="block">
        <uib-tab heading="{{ _lang.my_folders }} ({{ folders.length }} )">
            <div class="block">
                <div class="block-content no-padding">
                    <table class="table table-vcenter">
                        <tbody>
                            <tr ng-repeat="folder in folders">
                                <td class="ellipsis">
                                    <a href="" ng-click="toggleOptions(folder)"><i class="si si-trash text-danger mr-5"></i></a>
                                    <a href="#/tasks/{{ folder.code }}" style="color:#333;">
                                        <span class="circle-label" style="background:{{ folder.colour }}"></span>
                                        {{ folder.name }}
                                    </a>
                                    <div class="mt-20 ml-20" ng-show="folder.options">
                                        <a href="" ng-click="delete(folder)">{{ _lang.delete }} <i class="flaticon-check"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </uib-tab>
        <!--/End of tab-->



        <uib-tab heading="{{ _lang.shared_with_me }} ({{ shares.length }})" class="fs18">
            <div class="block">
                <div class="block-content no-padding">
                    <table class="table table-vcenter">
                        <tbody>
                            <tr ng-repeat="folder in shares">
                                <td class="ellipsis">
                                    <a href="" ng-click="toggleOptions(folder)"><i class="si si-users text-dark mr-5"></i></a>
                                    <a href="#/tasks/{{ folder.code }}" style="color:#333;">
                                        <span class="circle-label" style="background:{{ folder.colour }}"></span>
                                        {{ folder.name }}
                                    </a>
                                    <div class="mt-20 ml-20" ng-show="folder.options">
                                        <a href="" ng-click="leave(folder)">{{ _lang.leave_folder }} <i class="flaticon-check"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
    <!-- END Block Tabs Default Style -->
</div>
