<div class="mb-20" ng-controller="CalendarController">
    <div class="mt-10">
        <a href="#/events/new"><div class="fab" id="masterfab"><span>+</span></div></a>
        <a href="#/events" class="fs-14">
            <i class="flaticon-business"></i> {{ _lang.events_list_view }}
        </a>
    </div>
    <div class="mt-10">
        <div class="">
            <div id='calendar'></div>
        </div>
    </div>
</div>
