<div class="mb-40" ng-controller="EventCreateController">
    <a href="#/">{{ _lang[0].home }}</a>
    <i class="flaticon-arrows-1"></i>
    <a href="#/events">{{ _lang.events }}</a>

    <h3 class="mt-10 mb-10">{{ _lang.new_event }}</h3>

    <form class="form-horizontal push-10-t" ng-submit="save()">
        <div class="row">
            <div class="col-sm-12 text-center mb-20" ng-show="loading">
                <img src="/assets/img/preload.gif" alt="" />
            </div>
            <!--calendar-->
            <div class="col-sm-5 col-md-4">
                <div class="block block-bordered">
                    <div class="block-header">
                        <ul class="list-unstyled pull-right">
                            <li>
                                <a href="" ng-click="toggleEvents()" class="fs-12 pointer ml-10">
                                    <span ng-show="!schedule.showEvents"><i class="flaticon-arrows-4"></i> {{ _lang.show }}</span>
                                    <span ng-show="schedule.showEvents"><i class="flaticon-arrows-5"></i> {{ _lang.hide }}</span>
                                </a>
                            </li>
                        </ul>
                        <h3 class="block-title">{{ _lang.passed_recent }}</h3>
                    </div>
                    <div class="block-content no-padding">
                        <table class="table table-hover table-vcenter table-striped hide-fade" ng-show="schedule.showEvents">
                            <tbody>
                                <tr ng-repeat="event in events" class="pointer">
                                    <td class="ellipsis pointer" ng-click="forward(event.code)">
                                            {{ event.title }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--form-->
            <div class="col-sm-7 col-md-8">
                <div class="block block-bordered">
                    <div class="block-header">
                        <button class="btn btn-blue pull-right">
                            <i class="fa fa-floppy-o"></i> {{ _lang.btn_save }}
                        </button>
                        <h4 class="block-title">{{ _lang.event_details }}</h4>
                    </div>

                    <div class="block-content mb-20">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="">
                                    <label for="title">{{ _lang.form_event_title }}</label>
                                    <input class="form-control input-lg square" type="text" id="title" name="title" required placeholder="{{ _lang.form_event_title }}" ng-model="schedule.title">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="title">{{ _lang.form_event_start }}</label>
                                <div class="input-group date" data-provide="datepicker" data-date-start-date='d' data-date-autoclose='true' data-date="d" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control datepicker square input-lg" name="startdate" readonly ng-model="schedule.startdate" required>
                                    <span class="input-group-addon square">
                                        <i class="si si-calendar"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="title">{{ _lang.form_event_end }} ({{ _lang.form_optional }})</label>
                                <div class="input-group date" data-provide="datepicker" data-date-start-date='d' data-date-autoclose='true' data-date="d" data-date-format="dd-mm-yyyy">
                                    <span class="input-group-addon square">
                                        <i class="si si-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control datepicker square input-lg" name="enddate" readonly ng-model="schedule.enddate">
                                </div>
                            </div>

                            <div class="col-sm-12 mt-10">
                                <a href="" ng-click="toggleTime()" class="fs-12 pointer">
                                    <span ng-show="!schedule.showTime"><i class="flaticon-arrows-4"></i> {{ _lang.form_show_time }}</span>
                                    <span ng-show="schedule.showTime"><i class="flaticon-arrows-5"></i> {{ _lang.form_hide_time }}</span>
                                </a>

                                <a href="" ng-click="toggleLabels()" class="fs-12 pointer ml-10">
                                    <span ng-show="!schedule.showLabels"><i class="flaticon-arrows-4"></i> {{ _lang.form_show_labels }}</span>
                                    <span ng-show="schedule.showLabels"><i class="flaticon-arrows-5"></i> {{ _lang.form_hide_labels }}</span>
                                </a>

                                <a href="" ng-click="toggleEditor()" class="fs-12 pointer ml-10">
                                    <span ng-show="!schedule.showEditor"><i class="flaticon-arrows-4"></i> {{ _lang.form_show_editor }}</span>
                                    <span ng-show="schedule.showEditor"><i class="flaticon-arrows-5"></i> {{ _lang.form_hide_editor }}</span>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-20 hide-fade" ng-show="schedule.showTime">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="">{{ _lang.hours }}</label>
                                        <div class="styled-select mb-10">
                                            <select class="form-control input-lg text-center" ng-model="schedule.hour" ng-options="hour.value as hour.label for hour in hours">
                   	                        </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="">{{ _lang.minutes }}</label>
                                        <div class="styled-select mb-10">
                                            <select class="form-control input-lg text-center" ng-model="schedule.minutes" ng-options="minute.value as minute.label for minute in minutes">
                   	                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Labels-->
                        <div class="row mt-20 hide-fade" ng-show="schedule.showLabels">
                            <div class="col-sm-12">
                                <a ng-repeat="label in labels" class="item item-circle text-white pointer" style="background:{{ label }};color:#fff" ng-click="setLabel(label)">
                                    {{ label.label }}
                                    <i class="flaticon-check" ng-show="label == schedule.label"></i>
                                    <i class="" ng-show="label != schedule.label" style="color:{{ label }}">.</i>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-40" ng-show="schedule.showEditor">
                            <div class="col-sm-12 mt-20">
                                <h4 class="h5 mb-10">{{ _lang.form_event_description }}</h4>
                                <trix-editor angular-trix ng-model="schedule.description"></trix-editor>
                            </div>
                        </div>

                        <div class="text-right mt-20">
                            <button class="btn btn-blue btn-lg">
                                <i class="fa fa-floppy-o"></i> {{ _lang.btn_save }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
