<div class="mb-40" ng-controller="EventEditController">
    <a href="#/">{{ _lang[0].home }}</a>
    <i class="flaticon-arrows-1"></i>
    <a href="#/events">{{ _lang.events }}</a>
    <i class="flaticon-arrows-1"></i>
    {{ _lang.edit }}

    <h3 class="mt-10 mb-10">{{ event.title }}</h3>

    <a href="#/events/{{ event.code }}" class="btn btn-default">
        <i class="flaticon-arrows"></i> {{ _lang.btn_back }}
    </a>

    <form class="form-horizontal push-10-t" ng-submit="save()">
        <div class="row">
            <div class="col-sm-12 text-center mb-20" ng-show="loading">
                <img src="/assets/img/preload.gif" alt="" />
            </div>
            <!--form-->
            <div class="col-sm-7 col-md-8">
                <div class="block block-bordered">
                    <div class="block-header">
                        <button class="btn btn-blue pull-right">
                            <i class="fa fa-floppy-o"></i> {{ _lang.btn_save }}
                        </button>
                        <h4 class="block-title">{{ _lang.event_details }}</h4>
                    </div>

                    <div class="block-content mb-20">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="">
                                    <label for="title">{{ _lang.form_event_title }}</label>
                                    <input class="form-control input-lg square" type="text" id="title" name="title" required placeholder="{{ _lang.form_event_title }}" ng-model="event.title" ng-value="event.title">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="title">{{ _lang.form_event_start }}</label>
                                <div class="input-group date" data-provide="datepicker" data-date-start-date='d' data-date-autoclose='true' data-date="d" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control datepicker square input-lg" name="startdate" readonly ng-model="event.short_start" required value="event.short_start">
                                    <span class="input-group-addon square">
                                        <i class="si si-calendar"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="title">{{ _lang.form_event_end }} ({{ _lang.form_optional }})</label>
                                <div class="input-group date" data-provide="datepicker" data-date-start-date='d' data-date-autoclose='true' data-date="d" data-date-format="dd-mm-yyyy">
                                    <span class="input-group-addon square">
                                        <i class="si si-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control datepicker square input-lg" name="enddate" readonly ng-model="event.enddate" ng-value="event.short_end">
                                </div>
                            </div>

                            <div class="col-sm-12 mt-10">
                                <a href="" ng-click="toggleTime()" class="fs-12 pointer">
                                    <span ng-show="!event.showTime"><i class="flaticon-arrows-4"></i> {{ _lang.form_show_time }}</span>
                                    <span ng-show="event.showTime"><i class="flaticon-arrows-5"></i> {{ _lang.form_hide_time }}</span>
                                </a>

                                <a href="" ng-click="toggleLabels()" class="fs-12 pointer ml-10">
                                    <span ng-show="!event.showLabels"><i class="flaticon-arrows-4"></i> {{ _lang.form_show_labels }}</span>
                                    <span ng-show="event.showLabels"><i class="flaticon-arrows-5"></i> {{ _lang.form_hide_labels }}</span>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-20 hide-fade" ng-show="event.showTime">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="">{{ _lang.hours }}</label>
                                        <div class="styled-select mb-10">
                                            <select class="form-control input-lg text-center" ng-model="event.hour" ng-options="hour.value as hour.label for hour in hours">
                   	                        </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="">{{ _lang.minutes }}</label>
                                        <div class="styled-select mb-10">
                                            <select class="form-control input-lg text-center" ng-model="event.minutes" ng-options="minute.value as minute.label for minute in minutes">
                   	                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Labels-->
                        <div class="row mt-20 hide-fade" ng-show="event.showLabels">
                            <div class="col-sm-12">
                                <a ng-repeat="label in labels" class="item item-circle text-white pointer" style="background:{{ label }};color:#fff" ng-click="setLabel(label)">
                                    {{ label.label }}
                                    <i class="flaticon-check" ng-show="label == event.label"></i>
                                    <i class="" ng-show="label != event.label" style="color:{{ label }}">.</i>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-40">
                            <div class="col-sm-12 mt-20">
                                <h4 class="h5 mb-10">{{ _lang.form_event_description }}</h4>
                                <trix-editor angular-trix ng-model="event.description"></trix-editor>
                            </div>
                        </div>

                        <div class="text-right mt-20">
                            <button class="btn btn-blue btn-lg">
                                <i class="fa fa-floppy-o"></i> {{ _lang.btn_save }}
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
