<div class="mb-40" ng-controller="EventsController">
    <a href="#/events/new"><div class="fab" id="masterfab"><span>+</span></div></a>

    <a href="#/">{{ _lang[0].home }}</a>
    <i class="flaticon-arrows-1"></i>
    {{ _lang.events }}

    <div class="row">
        <div class="col-sm-12 mb-20">
            <div class="mt-10">
                <a href="#/events/calendar" class="fs-13">
                    <i class="flaticon-business"></i> {{ _lang.calendar_view }}
                </a>
                <a href="#/events/calendar" class="fs-13 ml-10">
                    <i class="flaticon-arrows-3"></i> {{ _lang.sync }} {{ events.length }} {{ _lang.event }}{{ events.length > 1 ? 's' : '' }}
                </a>
            </div>
        </div>

        <div class="col-sm-4" ng-repeat="schedule in events">
            <a class="block block-link-hover2 block-bordered text-center" href="#/events/{{ schedule.code }}">
                <div class="block-content block-content-full" style="background:{{ schedule.label }}">
                    <div class="h5 text-white-op ellipsis">{{ schedule.dayletter }}</div>
                    <div class="h2 font-w600 text-white uppercase">{{ schedule.daynumber }} {{ schedule.month }}</div>
                    <small class="text-white-op" ng-if="schedule.days > 1"><i class="flaticon-music-1"></i> {{ schedule.days }} {{ schedule.days > 1 ? _lang.calendar_days : _lang.calendar_day }}</small>
                    <small class="text-white" ng-if="schedule.days == 0"><i class="flaticon-music-1"></i> {{ _lang.today }}</small>
                    <small class="text-white" ng-if="schedule.days == 1"><i class="flaticon-music-1"></i> {{ _lang.tomorrow }}</small>
                    <small class="text-white" ng-if="schedule.time != '00:00'"> - {{ schedule.time  }}</small>
                    <div class="h5 text-white push-15-t ellipsis">{{ schedule.title }}</div>
                </div>
            </a>
        </div>

    </div>

    <div class="text-center mt-40" ng-show="loading">
        <img src="/assets/img/preload.gif" alt="" />
    </div>
</div>
