<div class="" ng-controller="EventController">
    <a href="#/events/new"><div class="fab" id="masterfab"><span>+</span></div></a>

    <a href="#/">{{ _lang[0].home }}</a>
    <i class="flaticon-arrows-1"></i>
    <a href="#/events">{{ _lang.events }}</a>

    <h3 class="mt-10 mb-10">
        {{ event.title }}
    </h3>


    <div class="text-center mt-40" ng-show="loading">
        <img src="/assets/img/preload.gif" alt="" />
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="block block-link-hover2 block-bordered text-center">
                <div class="block-content block-content-full" style="background:{{ event.label }}">
                    <div class="h5 text-white-op ellipsis">{{ event.dayletter }}</div>
                    <div class="" ng-show="event.month == event.month2">
                        <div class="h2 font-w600 text-white uppercase">{{ event.daynumber }} -  {{ event.daynumber2 }} {{ event.month }}</div>
                    </div>
                    <div class="" ng-show="event.month != event.month2">
                        <div class="h2 font-w600 text-white uppercase">{{ event.daynumber }} {{ event.month }}</div>
                        <div class="h5 font-w600 text-white uppercase" ng-show="event.daynumber2">- {{ event.daynumber2 }} {{ event.month2 }}</div>
                    </div>


                    <small class="text-white-op" ng-if="event.days > 1"><i class="flaticon-music-1"></i> {{ event.days }} {{ _lang.calendar_days }}</small>
                    <small class="text-white" ng-if="event.days == 0"><i class="flaticon-music-1"></i> {{ _lang.today }}</small>
                    <small class="text-white" ng-if="event.days == 1"><i class="flaticon-music-1"></i> {{ _lang.tomorrow  }}</small>

                    <small class="text-white" ng-if="event.time != '00:00'"> - {{ event.time  }}</small>

                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="block block-bordered">
                <div class="block-content">
                    <div class="block-title mb-10">
                        <div class="fs-13 pull-right">
                            <a href="#/events/{{ event.code }}/edit"><i class="flaticon-draw"></i> {{ _lang.edit }}</a>
                        </div>
                        {{ _lang.event_details }}
                    </div>


                    <div class="mb-20">
                        {{ event.short }}
                    </div>

                    <div class="mb-20">
                        <div ng-bind-html="event.description | rawHtml"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
