<div class="" ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-4">
            <a class="block block-link-hover2 text-center" href="#/events">
                <div class="block-content block-content-full bg-primary">
                    <i class="flaticon-business fa-4x text-white"></i>
                    <div class="h4 text-white push-15-t">{{ stats.events }} {{ _lang.event }}{{ stats.events > 1 ? 's' : '' }}</div>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a class="block block-link-hover2 text-center" href="#tasks">
                <div class="block-content block-content-full bg-primary-dark">
                    <i class="flaticon-interface-1 fa-4x text-white"></i>
                    <div class="h4 text-white push-15-t">{{ stats.tasks }} {{ _lang.task }}{{ stats.tasks > 1 ? 's' : '' }}</div>
                </div>
            </a>
        </div>

        <div class="col-sm-4">
            <a class="block block-link-hover2 text-center" href="#/folders">
                <div class="block-content block-content-full bg-modern">
                    <i class="flaticon-folder-2 fa-4x text-white"></i>
                    <div class="h4 text-white push-15-t">{{ stats.folders }} {{ _lang.folder }}{{ stats.folders > 1 ? 's' : '' }}</div>
                </div>
            </a>
        </div>
    </div>
</div>
